p {
  color: gray;
}

p::first-line {
  color: black;
}

p::selection {
  background: red;
  color: white;
}

#unique-paragraph {
  color: pink;
  text-transform: uppercase;
}

.text-big {
  font-size: 140%;
}

.text-blue {
  color: blue;
}

.text-red {
  color: red;
}
